* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body17 {
  width: 100vw;
  height: 100vh;
}
.content {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
}

.body17 header {
  background-color: green;
  font-size: 2rem;
  margin: 10px 10px;
  margin-bottom: 30px;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
}

.calorieBox {
  padding: 10px 20px;
  background-color: rgb(221, 231, 241);
  width: 350px;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 1px 1px 6px 0px rgba(65, 105, 68, 0.75);
}

.calories {
  text-align: start;
  padding: 20px;
  font-size: 1.1rem;
  margin: 10px 0;
  color: aliceblue;
  border-radius: 4px;
}

.calories .food {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.calorieBox::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}

.calorieBox::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgb(234, 240, 245);
}
